
/*--------FORMULARIO DE LOGIN--------*/

.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../imagens/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
.imagem-fundo {
    width: 25%;
    height: 52vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18326B 0% 0% no-repeat padding-box;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 15px;
    padding: 20px;
}
.formulario{
    flex-shrink: 0;
    width: 100%;
    font-family: "Rubik";
    font-weight: bold;
    display: flex;
    padding:20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    position: relative;
}
.titulo-formulario{
    text-align: center;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #72EFDB;
    font-size: 24px;
}
.corpo-formulario form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}
.corpo-formulario{
    width: 90%;
}
.input-wrapper{
    margin-bottom: 5px;
}
.corpo-formulario input{
    width: 100%;
    margin-bottom: 5px;
    margin-top: 15px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 1px;
    border-color: azure;
    background-color: transparent;
    color: white;
    padding-bottom: 2px;
}
.botao-acessar{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.botao-acessar button{
    background: #72EFDB 0% 0%  padding-box;
    border-radius: 34px;
    width: 170px;
    letter-spacing: 0.57px;
    color: #0B1741;
    text-transform: uppercase;
    opacity: 1;
    padding: 10px;
    font-family: "Rubik";
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    cursor: pointer;
}
.wrap-input{
    margin-top: 5px;
}
div#erroUsuario{
    color: brown;
    font-size: 0.8em;
}
div#erroSenha{
    color: brown;
    font-size: 0.8em;
}
::-webkit-input-placeholder{
    color: white;
    font-size: 10px;
    letter-spacing: 2px;
}

/*---RESPONSIVIDADE--*/
@media (max-width: 860px) and (orientation: landscape) {
    
    .imagem-fundo {
        width: 50vw;
        height: 70vh;
        margin-top: 80px;
    }
    .corpo-formulario form input {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 17px;
        border-bottom-width: 1px;
    }
} 
@media (max-width: 768px) {
    
    .imagem-fundo {
        width: 30%;
        height: 54vh;
       
    }
    .titulo-formulario{ 
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .corpo-formulario form input {
        width: 90%;
        border-bottom-width: 1px;
        
    }
    .botao-acessar{
        margin-bottom: 15px;
        margin-top: 5px;
    }
    .botao-acessar button{
        background: #72EFDB 0% 0%  padding-box;
        border-radius: 34px;
        width: 140px;
        font-size: 16px;
        letter-spacing: 0.57px;
        color: #0B1741;
        text-transform: uppercase;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    
} 
@media (max-width: 425px) {
    
    .imagem-fundo {
        width: 50%;
        height: 56vh;
       
    }
    .titulo-formulario{
        margin-bottom: 60px;
    }
    .corpo-formulario form input {
        width: 90%;
        border-bottom-width: 1px;
        
    }
    .botao-acessar{
        margin-bottom: 15px;
        margin-top: 5px;
    }
    .botao-acessar button{
        background: #72EFDB 0% 0%  padding-box;
        border-radius: 34px;
        width: 140px;
        font-size: 16px;
        letter-spacing: 0.57px;
        color: #0B1741;
        text-transform: uppercase;
        padding: 10px;
        margin-bottom: 40px;
        margin-top: 15px;
    }
    
    ::-webkit-input-placeholder{
        font-size: 10px;
    }
    
} 
@media (max-width: 375px) {
    
    .imagem-fundo {
        width: 40%;
        height: 56vh;
       
    }
    .titulo-formulario{
        margin-bottom: 60px;
    }
    .corpo-formulario form input {
        width: 90%;
        border-bottom-width: 1px;
        
    }
    .botao-acessar{
        margin-bottom: 15px;
        margin-top: 5px;
    }
    .botao-acessar button{
        background: #72EFDB 0% 0%  padding-box;
        border-radius: 34px;
        width: 110px;
        font-size: 16px;
        letter-spacing: 0.57px;
        color: #0B1741;
        text-transform: uppercase;
        padding: 10px;
        margin-bottom: 40px;
        margin-top: 15px;
    }
    
    ::-webkit-input-placeholder{
        font-size: 10px;
    }
    
} 
@media (max-width: 320px) {
    
    .imagem-fundo {
        width: 60%;
        height: 56vh;
       
    }
    .titulo-formulario{
        margin-bottom: 60px;
    }
    .corpo-formulario form input {
        width: 90%;
        border-bottom-width: 1px;
        
    }
    .botao-acessar{
        margin-bottom: 15px;
        margin-top: 5px;
    }
    .botao-acessar button{
        background: #72EFDB 0% 0%  padding-box;
        border-radius: 34px;
        width: 140px;
        font-size: 10px;
        letter-spacing: 0.57px;
        color: #0B1741;
        text-transform: uppercase;
        padding: 10px;
        margin-bottom: 40px;
        margin-top: 15px;
    }
    ::-webkit-input-placeholder{
        font-size: 10px;
    }
    
} 

