/* CSS do conteiner da dupla Elias e Geice*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,500&display=swap');

/*Importa a fonte da página (Rubik) do google fonts */

:root {
    font-size: 60%;
}

* { padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {      
    font-family: 'Rubik', sans-serif;
    background: #0A1744 0% 0% no-repeat padding-box;
    color: #FCFCFC;
    opacity: 1;    
}


/* main {
    width: 100vw;
    max-width: 1579.5px;
    justify-content: center;
} */

h3 {
    width: 100vw;
    font-weight: 500;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 1.6px;
    margin-top: 1rem;
    margin-bottom: 14.2rem;
    /* padding: 0 50px; */
}

.semResultado {
    display: none;
}

.mobile {
    display: none;
}

.containerGrupo {
    margin: auto;
    width: 100%;
    max-width: 1900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.containerGaleria {
    max-width: 619.5px;
    width: 40vw;
    height: auto;
    float: left;
    margin-right: 3.69%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.containerGaleria img {
    width: 100%;
    border-radius: 1.2vw;
    vertical-align: middle;
}

.coluna {
    flex: 46.32%;
    max-width: 46.32%;
    flex-wrap: wrap;
    /* padding-right: 6.5%; */
}


.containerImagem {
    position: relative;
    vertical-align: middle;
    color: white;
    width: 100%;
    margin-bottom: 12%;
    float: left;
}


/* Textos das imagens*/

.texto {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 75%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

.textoPostadoPor {
    font-weight: 500;
    font-size: 1.8rem;
    color: white;
    margin-bottom: 0.73rem;
}

.textoTwitterUser {
    font-weight: 700;
    font-size: 2.2rem;
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-items: left;
    flex-shrink: 100%;
}

.degrade {
    /* Cria a faixa em degrade escuro na parte de baixo das imagens */
    max-height: 117px;
    width: 100%;
    height: 50%;

    position: absolute;
    bottom: 0px;
    left: 0px;
    
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 1.2vw 1.2vw;
    opacity: 0.83;


}


/* Parte dos Tweets */

.containerGaleriaTweets {
    /* max-width: 889px; */
    max-width: 92.5rem;
    width: 50vw;
    height: auto;
    float: left;
    /*
    max-width: 699px;
    width: 40vw;
    height: auto;
    float: left;
    margin-right: 40px;
    */
}



.containerTweets {
    max-width: 92.5rem;
    width: 100%;
    height: 23.8rem;
    padding: 5.2rem;
    padding-top: 4.17rem;

    display: flex;
    flex-wrap: wrap;

    background: #1E3E7B17;
    border: 1px solid #FFFFFF24;
    border-radius: 1.8rem;
    margin-bottom: 4.2rem;
}

.containerTweets img {
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    margin-right: 3rem;

    float: left;
}

.grupoTweets {
    max-width: 762px;
    max-width: 79.3rem;
    height: 15rem;
}

.containerTextosTwitter {
    height: 15rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
}

.containerUser {
    display: flex;
    align-items: center;
    /* line-height: 32px; */
}

.userName {
    font-weight: 500;
    font-size: 2.8rem;
    margin-right: 1.8rem;
    letter-spacing: 0;
}

.twitterUserName {
    font-weight: 400;
    font-size: 2.1rem;
    opacity: 0.43;
    margin-top: 0px;
}

.textoTweet {
    font-weight: 400;
    font-size: 2rem;
    /* height: 72px; */
    height: 7.5rem;
    letter-spacing: 0.23px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #D9D9D9;
}

.linkTwitter {
    font-weight: 500;
    text-decoration: none;
    color: #72EFDB;
    font-size: 2.1rem;
}


/* ---------------------------  Animação Tweets ----------------------- */


