@media only screen and (max-width: 700px) {
    .desktop {
        display: none;
    }
    .mobile {
        width: 90vw;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .linha {
        top: -2px; 
        /* left: 24px; */
        width: 100vw;
        height: 0px;
        border: 1px solid #41558E;
        opacity: 0.66;
        position: relative;
        z-index: 1;
    }
    .tweetMobile {
        width: 50%;
        height: 29px;
        text-align: center;
        font: Medium 16px/22px Rubik;
        letter-spacing: 0px;
        color: #FFFFFF;
        border-bottom: 3px;
        padding-bottom: 44px;
        z-index: 2;
    }
    .tweetMobile:hover {
        color: #72EFDB;
        border-bottom: 3px solid #72EFDB;
        ;
    }
    .imagensMobile {
        width: 50%;
        height: 29px;
        text-align: center;
        font: Regular 16px/22px Rubik;
        letter-spacing: 0px;
        color: #FFFFFF;
        border-bottom: 3px;
        padding-bottom: 44px;
        z-index: 2;
    }
    .imagensMobile:hover {
        color: #72EFDB;
        border-bottom: 3px solid #72EFDB;
    }
    .containerGrupo {
        flex-direction: column;
        align-items: center;
    }
    .containerGaleria {
        margin-top: 10px;
        margin-left: 0px;
        width: 90vw;
    }
    .containerGaleria img {
        border-radius: 4.7vw;
    }
    .degrade {
        border-radius: 0px 0px 4.7vw 4.7vw;
    }
    .containerGaleriaTweets {
        width: 90vw;
    }
    .texto {
        font-size: 50%;
    }
    .containerTweets {
        ;
        width: 372px;
        height: 128px;
        padding: 2px;
        justify-content: center;
        align-items: center;
    }
    .userName {
        font-weight: 700;
        font-size: 12px;
        margin-right: 13px;
    }
    .twitterUserName {
        font-weight: 500;
        font-size: 15px;
        opacity: 0.43;
        margin-top: 0px;
    }
    .containerTextosTwitter {
        top: 802px;
        left: 105px;
        width: 248px;
        height: 84px;
        opacity: 1;
    }
    .textoTweet {
        margin: 0;
        height: 20px;
        font-size: 50%;
        letter-spacing: 0.23px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}