@media (max-width: 1300px) {
     :root {
        font-size: 45%;
    }
}

@media (max-width: 1000px) {
     :root {
        font-size: 35%;
    }
}

@media (max-width: 700px) {
     :root {
        font-size: 50%;
    }
    .desktop {
        display: none;
    }
    h3 {
        margin: 0px;
    }
    .mobile {
        width: 90vw;
        font-size: 3rem;
        font-weight: 400;
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .linha {
        top: -2px;
        /* left: 24px; */
        width: 100vw;
        height: 0px;
        border: 1px solid #41558E;
        opacity: 0.66;
        position: relative;
        z-index: 1;
    }
    /* ---- Configura os botões de troca de abas no mobile ---- */
    .botaoAbas { 
        /* Configuração padrão do botão */ 
        width: 50%;
        text-align: center;
        color: #FFFFFF;
        padding-bottom: 9.5px;
        border-bottom: 3px;
        z-index: 2;
    }
    .botaoAbasSelecionado {
        /* Configuração do botão quando selecionado*/ 
        color: #72EFDB;
        border-bottom: 3px solid #72EFDB;
        font-weight: 700;
    }
    .botaoAbas:hover {
        /* Modifica o cursor quando o usuário passa o mouse por cima do botão*/
        cursor: pointer;
    }

    .containerGrupo {
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
    }

    .containerGaleria {
        margin-top: 8.93rem;
        margin-right: 0px;
        width: 90vw;
    }
    .containerGaleria img {
        border-radius: 4.7vw;
    }
    .degrade {
        border-radius: 0px 0px 4.7vw 4.7vw;
    }
    .containerGaleriaTweets {
        width: 90vw;
        margin-top: 8.93rem;
    }
    .texto {
        font-size: 50%;
    }
    .containerTweets {
        height: 31vw;
        padding: 5vw;
        font-size: 40%;
    }

    /* Desativa o conteiner das imagens em um primeiro momento no mobile */
    #imagens { 
        display: none;
    }
}

@media (max-width: 550px) {
     :root {
        font-size: 42%;
    }
}

@media (max-width: 440px) {
     :root {
        font-size: 40%;
    }
    .mobile {
        font-size: 2.5rem;
    }
    .containerTweets {
        padding: 2.0rem;
        padding-right: 5rem;
        border-radius: 1rem;
    }
    .containerTweets img {
        width: 9.6rem;
        height: 9.6rem;
    }
    .userName {
        font-size: 2.1rem;
    }
    .twitterUserName {
        font-size: 1.5rem;
    }
    .linkTwitter {
        font-size: 1.7rem;
    }
}

@media (max-width: 380px) {
     :root {
        font-size: 32%;
    }
    .mobile {
        font-size: 2.5rem;
    }
}