*{ margin: 0; padding: 0;}  
body, h1, p {font-family: 'Rubik', Regular;}


/*--------MENU--------*/
.container {
    background-color: #0A1744;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 40;
}   
/*--------LOGOTIPO--------*/
.logo img{
    height: 20px;
    opacity: 0.72;
    margin: 20px; 
}
/*--------Botões---------*/
.menu {
    display: flex;   
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.menu a {
    display: flex;
    height: 30px;
    width: 90px;
    margin: 7px;
    border-radius: 20px;
    font-size: 10pt;
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}
.menu img {
    width: 12px;
    margin: 6px;
}
.sobre, .home {
    background-color: rgba(114, 239, 219, 1);
    color: #0B1741;    
}
.login, .sair {
    background-color: rgba(30, 62, 123, 1);
    color: #FFFFFF;   
}

/*Efeito JavaScript*/
.scrolling-active {
    background: #0a1744ad;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0px 3px 29px #5538EE1F;
    opacity: 1;
}
/*--------BANNER--------*/
.hero-image {
    display: flex;
    flex-direction: column;
    background-image: url("../imagens/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;    
    margin-top: 50px;
    padding-bottom: 10px;
}
.hero-image-drop {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 30;
    background: transparent linear-gradient(180deg, #0A174400 0%, #0A1744 100%);
}
.hero-text{
    color: white;
    padding-top: 90px;
    padding-left: 90px;
    z-index: 30;
}
.hero-text h1 {
    font-size: 62px;
    margin-top: 10px;
}
.hero-text p {
    font-size: 21px;
    padding-top: 20px;    
}
/*--------BUSCA--------*/
.input {
    background-image: url("../svg/icon-search.svg");
    background-repeat: no-repeat;
    background-color: rgba(30, 62, 123, 1);
    background-position: 30px 16px;
    background-size: 17px;
    border-radius: 72px;
    width: 460px;
    height: 50px;
    padding-left: 60px;  
    padding-top: 5px;
    margin-bottom: -25px;
    z-index:30;
    border-style: none; 
    color: white;
}
.hero-busca {
    margin-top: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}  
::-webkit-input-placeholder{
    color: #8D9DA2;
    font-size: 22px;
    text-align: left;
}
#message {
    position: absolute;
    color: white;
    font-size: 11px;
    top: 530px;
    z-index: 30;
}
/*--------RODAPÉ--------*/
#rodape {
    background-color: rgba(30, 62, 123, 1);
    height: 100%; 
    width: 100%;
}
.txtRodape {
    font-size: 17px;
    text-align: center;
    padding: 50px;     
    color: white;
}

/*RESPONSIVIDADE*/  
@media (max-width: 960px) { 
    .hero-text {
        padding-top: 80px;
    }
    .hero-text h1 {
        font-size: 30px;
    }
    .hero-text p {
        font-size: 15px;
        padding-top: 10px;    
    }
    input {
        height: 50px;
    }
}
@media (max-width: 450px) {   
    .hero-image {
        display: flex;
        flex-direction: column;
        background-image: url("../imagens/mobile-hero-bg.jpg");
        background-position: center;
    }
    .hero-text h1 {
        font-size: 32px;
    }
    .hero-text p {
        font-size: 13px;
        padding-top: 20px;    
    }
    .hero-text{
        padding-top: 53px;
        padding-left: 30px;
    }
    .input {
        width: 320px;
    }   
    .txtRodape {
        font-size: 10px;
    }
}
@media (max-width: 288px) {
    .logo img{
        height: 20px;
    }    
    .hero-text h1 {
        font-size: 22px;
    }
    .hero-text p {
        font-size: 10px;
    }
    .input {
        background-position: 30px 12px;
        width: 250px;
        height: 42px;
    }
    
} 