/* Corpo da página - Fundo e características gerais */
*{
    margin: 0;
    padding: 0;
}
body {

    /* Fundos: */
        /* Gradiente (meio) */
    background: linear-gradient(180deg, #0A174400 0%, #0A1744 100%) no-repeat,
        /* Imagem (topo, por baixo do gradiente) */
        url(../imagens/about-hero-bg.jpg) no-repeat,
        /* Cor (página inteira) */
        #0A1744;
    /* Tamanho e posição do gradiente e imagem */
    background-size:  100vw 42vmax, auto 100vmax;
    background-position:  0% 58.5vmax, 0% 0%;

    /* Padrão de texto (fonte e cor) */
    color: #FCFCFC;
    font-family: 'Rubik', sans-serif;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    body {
        /* Fundos: */
        background-size:  100vw 36vw, contain;
        background-position:  0% 18vw, 0% -2vw;
    }
}
/* ----------------------- BLOCO SOBRE-PROJETO ----------------------- */
.sobre-projeto{
    /* Posicionamento*/
    margin: 13vw 7.6vw 10vw 7.2vw;
    display: flex; 
    /* Organização das childrens */
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Ajuste de responsividade */
@media only screen and (max-width: 1200px) {
    .sobre-projeto {
        /* Fundos: */
        margin: 127px 26px 50px;
        justify-content: space-evenly;
    }
}
/* Título sobre-projeto */
.sobre-projeto__titulo {    
    font-weight: bolder; /* Texto */
    font-size: 4.2vw;   
    line-height: 5.6vw;  /* Altura da linha */    
    margin: 0 0 2vw;/* Posicionamento */    
    color: #FFFFFF; /* Cor */
}
/* Ajuste de responsividade */
@media only screen and (max-width: 1200px) {
    .sobre-projeto__titulo {    
    font-size: 33px; /* Texto */    
    line-height: 33px;   /* Altura da linha */   
    margin: 0 0 31px;  /* Posicionamento */        
    }
}
/* Descrição do projeto */
.sobre-projeto__texto {    
    width: 39.2vw;  /* Tamanho */    
    font-size: 1vw;  /* Texto */    
    line-height: 1.9vw; /* Altura da linha */
}
/* Ajuste de Responsividade */
@media only screen and (max-width: 1200px) {
    .sobre-projeto__texto {
    width: 100%;         /* Tamanho */        
    font-size: 15px; /* Texto */    
    line-height: 26px;  /* Altura da linha */             
    }
}
/* Foto-hero */
.sobre-projeto__imagem {
    /* Posicionamento relação à largura da tela */
    width: 33vw;    
    margin-top: 2.5vw;
    }
    /* Ajuste de Responsividade */
@media only screen and (max-width: 1200px) {
    .sobre-projeto__imagem {
    /* Posicionamento relação à largura da tela */
    width: 100%;    
    margin-top: 57px;
    max-width: 500px;
    }
}
/* ----------------------- BLOCO EQUIPE ----------------------- */
.sobre-equipe {
    margin: 0 3.5vw 64px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .sobre-equipe {
        margin: 0 0 7.5vw;
    }
}
/* Título */
.sobre-equipe__titulo {   
    font-size: 27px;  /* Fonte */    
    margin: 0 3.5vw 0 10.2vw; /* Tamanho */
    line-height: 3vw;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .sobre-equipe__titulo {        
        font-size: 2.8vw; /* Fonte */        
        margin: 0 9vw 5.5vw; /* Margem */
    }
}
/* Lista de membros */
.sobre-equipe__membros {
    /* Disposição */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4vw 7.6vw 10vw 7.2vw;
}
/* Disposição - Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .sobre-equipe__membros {
        justify-content: center;
    }
}
/* ----------------------- BLOCO SOBRE-MEMBRO ----------------------- */
/* Bloco dos perfis */
.sobre-membro {
    /* Cor e forma */
    background-color: #0B1A49;
    border: solid 1px #FFFFFF24;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #5538EE14;
    /* Tamanho */
    width: 400px;
    max-width: 100%;
    margin: 0 2% 46px;
    /* Texto */
    text-align: center;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .sobre-membro {
        width: 18.2vw;
        margin: 0 1vw 2.5vw;
    }
}
/* Foto de perfil */
.sobre-membro__imagem {
    /* Tamanho e forma */
    width: 204px;
    max-width: 43vw;
    height: 204px;
    max-height: 43vw;
    object-fit: cover;
    border-radius: 50%;
    /* Margem */
    margin: 36px 4.5vw 22px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .sobre-membro__imagem {
        width: 9.25vw;
        height: 9.25vw;
        margin: 1.8vw 4.5vw 1.1vw;
    }
}
/* Nome */
.sobre-membro__nome {
    /* Fonte */
    color: #72EFDB;
    font-size: 28px;
    /* Margem */
    margin: 0 .75vw 22px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .sobre-membro__nome {
        font-size: 1.4vw;
        margin: 0 .75vw 1.1vw;
    }
}
/* Descrição */
.sobre-membro__texto {
    /* Fonte */
    font-size: 19px;
    font-weight: 300;
    color: #D9D9D9;
    /* Espaçamento */
    line-height: 25px;
    margin: 0 36px 24px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .sobre-membro__texto {
        font-size: 1vw;
        line-height: 1.3vw;
        margin: 0 1vw 2vw;
    }
}
/* Lista de contatos */
.sobre-membro__contatos {
    /* Disposição */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Tamanho */
    width: 34%;
    margin: 0 33% 38px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .sobre-membro__contatos {
        width: 7vw;
        margin: 0 5.6vw 1.8vw;
    }
}
/* Ícones de contato */
.sobre-membro__link {
    /* Tamanho */
    height: 24px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .sobre-membro__link {
        height: 1.25vw;
    }
}


